html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(apod.png) no-repeat center center fixed black; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.centerItems{
    width:100%;
    display: flex;
    justify-content: center;
}

.timeContainer{
    margin-top: 10%;
}

.timeText{
    color: white;
    font-size: 10em;
}

.dateText{
    color: white;
    font-size: 1.2em;
}

.search-input{
    font-size: 20px;
    background: none;
    color: #fff;
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(148, 148, 148)
}

.search-input:focus{
    outline: none;
}

.searchContainer{
    margin-top: 3%;
}

.search-btn{
    background: none;
    outline: none;
    border: none;
}

.search-icon{
    height: 16px;
    width: auto;
}

.creds{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #fff;
}